:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition-duration: 0.2s;
}

a:hover {
  color: #535bf2;
  transition-duration: 0.2s;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(238, 238, 238);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #213547;
}
h2 {
  color: #213547;
}

p {
  color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  /* transition: border-color 0.25s; */
}

button:hover {
  /* border-color: #646cff; */
}

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    /* background-color: #f9f9f9; */
  }
}

#roots {
  width: 100%;
  /* padding-bottom: 100px; */
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: 70px;
  /* background-color: rgb(0, 0, 0); */
  display: block;
  margin: auto;
  position: sticky;
  z-index: 30;
  top: 0;
  color: white;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.flx-r {
  display: flex;
  flex-direction: row;
}

.flx-c {
  display: flex;
  flex-direction: column;
}

.flx-1 {
  flex: 1;
}

.flx-2 {
  flex: 2;
}

.flx-3 {
  flex: 3;
}

.flx-4 {
  flex: 4;
}

.flx-5 {
  flex: 5;
}

.flx-wrap {
  flex-wrap: wrap;
}

.just-se {
  justify-content: space-evenly;
}

.just-ce {
  justify-content: center;
}

.just-sb {
  justify-content: space-between;
}




.nav-options {
  width: 400px;
}

.black-text {
  color: black;
}

.white-text {
  color: rgb(255, 255, 255);
}

.gray-text {
  color: gray;
}

.time-card {
  border: 2px solid black;
  border-radius: 20px;
  width: 350px;
  height: 200px;
  overflow: hidden;
}

.time-card2 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 8px;
  width: 350px;
  height: 200px;
  overflow: hidden;
}

.pt-3h {
  padding-top: 20px;
}
.pl-1{
  padding-left: 5px;
}
.pl-2{
  padding-left: 10px;
}
.pl-3{
  padding-left: 15px;
}
.pl-4{
  padding-left: 20px;
}
.pl-5{
  padding-left: 25px;
}

.center {
  display: block;
  margin: auto;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.x-small {
  font-size: x-small;
}

.small {
  font-size: small;
}

.medium {
  font-size: medium;
}

.large {
  font-size: large;
}

.x-large {
  font-size: x-large;
}

.xx-large {
  font-size: xx-large;
}

.xxx-large {
  font-size: 96px;
}

.right {
  float: right;
}

.wide50 {
  width: 50%;
}

.wide50-respond {
  width: 50%;
}

.wide60 {
  width: 60%;
}

.wide70 {
  width: 70%;
}

.wide80 {
  width: 80%;
}

.wide90 {
  width: 90%;
}

.five {
  background-color: antiquewhite;
}

.six {
  background-color: lightblue;
}

.seven {
  background-color: lightpink;
}

.eight {
  background-color: azure;
}

.nine {
  background-color: aquamarine;
}

.city {
  margin: 0;
  margin-left: 10px;
}

.weather {
  margin: 0;
  font-size: small;
  margin-left: 10px;
  color: gray;
}

.time {
  margin: 0px;
  font-size: 64px;
  margin-left: 6px;
}

.time2 {
  margin: 0px;
  font-size: 64px;
  font-weight: 500;
  margin-left: 6px;
}

.day {
  margin: 0;
  margin-left: 10px;
}

.timezone {
  margin: 0;
  margin-left: 10px;
  margin-top: 8px;
}

.add-img {
  width: 25px;
  bottom: 16px;
  right: 16px;
  opacity: 1;
}

.remove-press {
  width: 30px;
  bottom: 16px;
  right: 26px;
  opacity: 1;
  font-size: small;
  color: rgb(155, 0, 0);
}

.faded {
  opacity: 0.2;
}

#search-bar {
  width: 300px;
  height: 30px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 15px;

}

.name-input {
  width: 300px;
  height: 30px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 15px;
  padding-left: 10px;
}

.mag-glass-img {
  width: 18px;
  top: 8px;
  right: 8px;
}

.square-btn100 {
  width: 100%;
  border-radius: 0px;
  color: white;
  background-color: black;
  /* background-color: rgb(200, 200, 200); */
  transition-duration: 0.4s;
}

.square-btn100:hover {
  background-color: black;
  color: white;
  transform: translateY(-5px);
  transition-duration: 0.4s;
}

.square-btn {
  width: 150px;
  border-radius: 0px;
  color: white;
  background-color: black;
  /* background-color: rgb(200, 200, 200); */
  transition-duration: 0.4s;
}

.square-btn:hover {
  background-color: black;
  color: white;
  transform: translateY(-5px);
  transition-duration: 0.4s;
}

.square-btn2 {
  /* width: 150px; */
  border-radius: 0px;
  /* border: 2px solid black; */
  color: white;
  background-color: rgb(170, 170, 170);
  transition-duration: 0.4s;
}

.square-btn2:hover {
  background-color: grey;
  color: white;
  transform: translateY(-5px);
  transition-duration: 0.4s;
}

.square-btn3 {
  /* width: 150px; */
  border-radius: 0px;
  /* border: 2px solid black; */
  color: white;
  background-color: rgb(255, 48, 48);
  transition-duration: 0.4s;
}

.square-btn3:hover {
  background-color: rgb(255, 48, 48);
  color: white;
  transform: translateY(-5px);
  transition-duration: 0.4s;
}

.black-btn {
  width: 150px;
  background-color: black;
  color: white;
  border-radius: 20px;
  transition-duration: 0.2s;
}

.black-btn:hover {
  filter: brightness(70%);
  transition-duration: 0.2s;
}

.green-btn {
  width: 150px;
  background-color: rgb(6, 144, 6);
  color: white;
  border-radius: 20px;
}

.green-btn:hover {
  background-color: rgb(6, 144, 6);
}

.profile-img {
  width: 30px;
  right: 10px;
  top: 18px;
}

.nav-extra {
  width: 60px;
  height: 30px;
  right: 20px;
  top: 50px;
  background-color: white;
  border: 1px solid black;
}

.rp-icon {
  /* width: 120px; */
  height: 60px;
}

.container {
  /* border: 1px solid gainsboro; */
  border-radius: 16px;
  background-color: white;
  padding: 24px;
  /* box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); */
}

.footer {
  background-color: #00670c;
  color: white;
  /* border-radius: 16px 16px 0 0; */
  /* position: absolute; */
  width: 100%;
  /* height: 100%; */
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-top: auto; */
}

.carousel-div-img {
  width: 100%;
}

.bottom-space {
  padding-bottom: 100px;
}

.carousel-pic {
  border-radius: 16px;
  width: 800px;
}

.black-back {
  background-color: black;
}

.carousel-text {
  width: 500px;
}

.dots {
  bottom: 0;
  right: 205px;
}

.navgap {
  padding: 25px;
}

.nav-item {
  color: black;
  transition-duration: 0.4s;
}

.nav-item:hover {
  color: black;
  opacity: 0.5;
  transform: translateY(-10px);
  transition-duration: 0.4s;
}

.nav-btn {
  background-color: transparent;
  border-radius: 0;
  color: black;
  transition-duration: 0.4s;
}

.nav-btn:hover {
  color: black;
  opacity: 0.5;
  transform: translateY(-5px);
  transition-duration: 0.4s;
}

.nav-btn2 {
  background-color: transparent;
  border-radius: 0;
  color: black;
  transition-duration: 0.2s;
}

.nav-btn2:hover {
  color: white;
  /* opacity: 0.5; */
  background-color: black;
  transform: translateY(-5px);
  transition-duration: 0.4s;
}

.mu-img {
  width: 350px;
  border-radius: 16px;
}

.high400 {
  height: 400px;
}

.form-input2 {
  border: none;
  color: black;
  border-bottom: 2px solid rgb(158, 158, 158);
  font-size: medium;
  padding-left: 6px;
  height: 30px;
  transition-duration: 0.4s;
  background-color: rgb(240, 240, 240);
}

.form-input2:hover {
  box-shadow: 0 4px 8px rgba(140, 197, 243, 0.5);
  border-bottom: 2px solid rgb(108, 108, 108);
  transition-duration: 0.2s;
  padding-left: 10px;
  background-color: rgba(245, 245, 245, 0.8);
}

.footer-title1{
  width: 270px;
  height: 100px;
  /* width: max-content; */
}
.footer-title2{
  width: 150px;
  height: 100px;
  /* width: max-content; */
}



.color-black{
  color: black;
}
.color-dark{
  color: #213547;
}
.color-red{
  color: red;
}


.black-link {
  color: black;
}

.black-link:hover {
  color: black;
}
.white-link {
  color: white;
  font-weight: 400;
  transition-duration: 0.4s;
}

.white-link:hover {
  color: white;
  opacity: 0.5;
  transition-duration: 0.4s;
}
.white-link-wimg {
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition-duration: 0.4s;
}
.white-link-wimg:hover{
  color: white;
}

.white-link-wimg:hover p {
  color: white;
  opacity: 0.5;
  transition-duration: 0.4s;
}

.signin-arrow-img {
  display: inline-block;
  width: 30px;
}

.inline {
  display: inline-block;
}

.v-align {
  vertical-align: middle;
}

.carousel-rectangle {
  overflow: hidden;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.carousel-box {
  width: 320px;
  height: 450px;
  /* border: 1px solid black; */
  border-radius: 24px;
  overflow: hidden;
}

.carousel {
  overflow: hidden;
  /* width: 700px; */
  width: 100%;
  /* max-width: 900px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); */
}

.carousel-item {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* height: 490px; */
  background-color: black;
}

.carousel2-item {
  display: inline-flex;
  width: 100%;
}

.carousel-img {
  /* width: 550px; */
  width: 60%;
  padding: 0 20px 0 20px;
}

.carousel2-img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.z-20 {
  z-index: 20;
}

.carousel2-btns {
  position: absolute;
  top: 4%;
  left: 0.5%;

}

.carousel-text {
  width: 40%;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  /* font-size: small; */
}

.carousel2-text {
  width: 40%;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  /* font-size: small; */
}

.page-container {
  /* border-radius: 16px 16px 0 0; */
}

.show-img {
  width: 60%;
  max-height: 500px;

}

.seethru {
  background-color: transparent;
}

.arrow-right,
.arrow-left,
.dot-option {
  transition-duration: 0.3s;
  cursor: pointer;
}
.dot-img{
  width: 20px;
  height: 20px;
}

.arrow-left:hover {
  transform: translateX(-5px);
}

.arrow-right:hover {
  transform: translateX(5px);
}

.arrow-right:hover,
.arrow-left:hover,
.dot-option:hover {
  opacity: 0.75;
  transition-duration: 0.3s;
  transform: translateY(-3px);
}

.bg-misfits {
  background-image: url(https://i.imgur.com/KhBf5wx.png);
  background-size: contain;
}

.nude-in {
  width: 100%;
}

.nude-out {
  width: 100%;
}

.social-media-icon {
  width: 40px;
  height: 40px;
}



























.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.empty {
  height: 25px;
}

.empty-2 {
  height: 50px;
}

.empty-3 {
  height: 75px;
}

.empty-4 {
  height: 100px;
}

.empty-5 {
  height: 125px;
}

.empty-6 {
  height: 150px;
}

.m0 {
  margin: 0px;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 25px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-1h {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-2h {
  margin-top: 11px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-3hh {
  margin-top: 18px;
}

.mt-4 {
  margin-top: 25px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-7 {
  margin-top: 70px;
}

.mt-8 {
  margin-top: 80px;
}

.mt-9 {
  margin-top: 90px;
}

.mt-10 {
  margin-top: 100px;
}

.mt-3h {
  margin-top: 20px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-1-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-4 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.my-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mx-1 {
  margin-right: 5px;
  margin-left: 5px;
}

.mx-1-2 {
  margin-right: 8px;
  margin-left: 8px;
}

.mx-2 {
  margin-right: 10px;
  margin-left: 10px;
}

.mx-3 {
  margin-right: 15px;
  margin-left: 15px;
}

.mx-4 {
  margin-right: 20px;
  margin-left: 20px;
}

.mx-5 {
  margin-right: 25px;
  margin-left: 25px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 25px;
}

.ml-5 {
  margin-left: 50px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 25px;
}

.mr-4h {
  margin-right: 35px;
}

.mr-5 {
  margin-right: 50px;
}

.mx-6 {
  margin-left: 40px;
  margin-right: 40px;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 12px;
}

.pt-4 {
  padding-top: 24px;
}

.pt-5 {
  padding-top: 30px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padx0 {
  padding-left: 0px;
  padding-right: 0px;
}

.pad0 {
  padding: 0px;
}

.pad8 {
  padding: 8px;
}

.pad16 {
  padding: 16px;
}

.pad28 {
  padding: 28px;
}

.d-none {
  display: none;
}

.o-none {
  opacity: 0;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.hamburger {
  width: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.hamburger:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.narrow-nav {
  display: none;
}

.subscribe-box {
  width: 50%;
}

.v-helper {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

.page-title{
  height: 150px;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 960px) {
  .carousel2-text {
    width: 100%;
    margin-top: 60px;
    text-align: center;
    padding: 0px;
  }

  .carousel2-title {
    font-size: xx-large;
  }
  .carousel-box{
    margin: auto;
  }

  .narrow-nav {
    display: block;
  }

  #h1-respond {
    margin-bottom: 0px;
  }
  h1 {
    font-size: xx-large;
  }

  .page-title{
    height: 90px;
  }

  .rn-icon {
    width: 100px;
  }

  .responsive-nav {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-200px);
    transition: 0.6s ease;
    z-index: 5;
  }

  .respond {
    transform: none;
  }
  .respond-c1r2{
    flex-direction: column;
  }

  .carousel-text {
    width: 90%;
    text-align: center;
  }

  .mu-img {
    width: 180px;
  }

  .respond-center {
    margin: auto;
  }

  .respond-c {
    flex-direction: column;
  }

  .wide-nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: white;
  }

  .narrow-invisible {
    display: none;
  }

  .close-btn {
    position: absolute;
    width: 15px;
    top: 17px;
    left: 170px;
    cursor: pointer;
  }

  .wide50-respond {
    width: 90%;
  }

  .wide100-respond {
    width: 100%;
  }
  .footer-title1{
    width: 155px;
    height: 60px;
    /* width: max-content; */
  }
  .footer-title2{
    width: 90px;
    height: 60px;
    /* width: max-content; */
  }
  .social-media-icon{
    width: 30px;
    height: 30px;
  }
  .social-link{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .left-text-respond {
    text-align: left;
  }

  .subscribe-box {
    width: 90%;
    flex-direction: column;
  }


  .one-two-four {
    flex-direction: column;
  }

  .c2 {
    font-size: x-small;
  }

  .c2r1 {
    display: none;
  }

  .respond-c2r1 {
    display: block;
  }

  .respond-t {
    font-size: xx-large;
    text-align: center;
  }

  .respond-d {
    font-size: medium;
    text-align: center;
  }

  .carousel2-btns {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

}

@media only screen and (min-width: 960px) {
  .narrow-visible {
    display: none;
  }

  .close-btn {
    display: none;
  }
}

.bg-wave {
  background-image: url(https://i.imgur.com/WkqrnQh.png);
  width: 100%;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  /* height: 304px; */
  position: relative;
}

.white-bg {
  background-color: white;
}

.pad28-nobottom {
  padding: 28px;
  padding-bottom: 0;
}

.gainslite-bg {
  background-color: rgb(240, 240, 240);
}

.right-btn {
  height: 50px;
}

.wide100 {
  width: 100%;
}

.left-text {
  text-align: left;
}

.value {
  /* align-items: center; */
  width: 350px;
}

.v-img {
  width: 150px;
}

.v-img-div {
  height: 150px;
}

.v-img-title {
  height: 60px;
  /* position: absolute; */
  transform: translateY(40px);
  bottom: 0;
}

.v-text {
  text-align: left;
}

.gains-bg {
  background-color: gainsboro;
}

.bg-transition {
  width: 100%;
}

.sub-img {
  width: 100%;
}

.m-auto {
  margin: auto;
}

.bg-starrynight {
  background-image: url(https://i.imgur.com/sV1bcBR.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.placeholder {
  width: 100%;
}

.parallax-complex {
  width: 100%;
  position: relative;
  /* height: 100vh; */
  overflow: hidden;
}

.para-text {
  position: absolute;
  z-index: 2;
  inset: 0px;
  width: 100%;

}

.para-t {
  position: absolute;
  z-index: 2;
  inset: 0px;
  background-image: url(https://i.imgur.com/n9iFu4p.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.para-1 {
  position: absolute;
  z-index: 4;
  inset: 0px;
  background-image: url(https://i.imgur.com/MqOzg7C.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.para-2 {
  position: absolute;
  z-index: 3;
  inset: 0px;
  background-image: url(https://i.imgur.com/ALdMamx.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.para-3 {
  position: absolute;
  z-index: 1;
  inset: 0px;
  background-image: url(https://i.imgur.com/woP7tvS.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.para-4 {
  position: absolute;
  z-index: 0;
  inset: 0px;
  background-image: url(https://i.imgur.com/1zt94zW.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.darkgreen-backy {
  background-color: #00670c;
}
.rp-symbol{
  width: 50px;
  vertical-align:top;
}
.event-img {
  width: 320px;
  height: 500px;
  /* border: 1px solid black; */
  border-radius: 24px;
  overflow: hidden;
}

.high100 {
  height: 100%;
  ;
}

.events-div {
  margin: auto;
}

.events-img-url {
  width: 320px;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.roboto {
  font-family: Roboto;
}

.img-ph {
  height: 550px;
}

.otf-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 24px;
}

.otf-img-div {
  height: 328px;
}

.hover {
  cursor: pointer;
  opacity: 0.25;
  transition-duration: 0.3s;
}

.hover:hover {
  opacity: 0.75;
  transition-duration: 0.3s;
}

.hover-pressed {
  cursor: pointer;
}

.underconstruction {
  width: 70%;
}

@media only screen and (max-width: 370px){
  .rp-icon{
    height: 40px;

  }
}